@font-face {
  src: url(Inter\ Web/Inter.var.woff2) format(woff2);
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url(Inter\ Web/Inter-Bold.woff2) format(woff2),
  url(Inter\ Web/Inter-Bold.woff) format(woff);
  font-family: 'Inter';
  font-weight: bold;
}

@font-face {
  src: url(Inter\ Web/Inter-Black.woff2) format(woff2),
  url(Inter\ Web/Inter-Black.woff2) format(woff);
  font-family: 'Inter';
  font-weight: 900;
}